body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

form label {
    grid-column: 1 / 2;
}

form input, form button {
    grid-column: 2 / 3;
    padding: 0.5rem;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ddd;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

strong {
    font-size: 1.2rem;
    color: #333;
}
